{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar categoría</h1>

    {{ form_start(edit_form) }}
        {# form_widget(edit_form) #}
        <div class="form-group">
            {{ form_label(edit_form.codigo) }}
            {{ form_widget(edit_form.codigo, { 'attr' : { 'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(edit_form.nombre) }}
            {{ form_widget(edit_form.nombre, { 'attr' : { 'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(edit_form.descripcion) }}
            {{ form_widget(edit_form.descripcion, { 'attr' : { 'class': 'form-control'} }) }}
        </div>
        <div class="checkbox">
            <label>
                {{ form_widget(edit_form.activo) }} Activo
            </label>
        </div>
    <input type="submit" class="btn btn-primary" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('categoria_index') }}" class="btn btn-default">Volver al listado</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
