{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear categoría</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.codigo) }}
            {{ form_widget(form.codigo, { 'attr' : { 'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre, { 'attr' : { 'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.descripcion) }}
            {{ form_widget(form.descripcion, { 'attr' : { 'class': 'form-control'} }) }}
        </div>
        <div class="checkbox">
            <label>
                {{ form_widget(form.activo) }} Activo
            </label>
        </div>
        <input type="submit" value="Crear" class="btn btn-primary" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('categoria_index') }}" class="btn btn-default">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
