{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Productos</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
        {% set productosf = productos.findBy({'categoria':categoria}) %}
        {% for producto in productosf %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': producto.id }) }}">{{ producto.id }}</a></td>
                <td>{{ producto.categoria }}</td>
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('producto_show', { 'id': producto.id }) }}" class="btn btn-success">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('producto_edit', { 'id': producto.id }) }}" class="btn btn-default">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('producto_delete', { 'id': producto.id }) }}" class="btn btn-danger">Borrar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_new') }}" class="btn btn-primary">Crear producto</a>
        </li>
    </ul>
{% endblock %}
