{% extends 'base.html.twig' %}

{% block body %}
    <h1>Producto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Categoría</th>
                <td>{{ producto.categoria }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ producto.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ producto.marca }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_index') }}" class="btn btn-primary">Volver al listado</a>
        </li>
        <li>
            <a href="{{ path('producto_edit', { 'id': producto.id }) }}" class="btn btn-success">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
